#### <font color=#f1fa8c>Exercícios de programação em Python referentes à Aula 3. Estruturas de dados, do curso "Python para Data Science: trabalhando com funções, estruturas de dados e exceções" da Alura.



---

*Vamos praticar o que aprendemos até aqui solucionando os problemas propostos em código.*

# <font color=#ffb86c> **Aquecimento**

<font color=#bd93f9>**1.**</font> Crie um código para imprimir a soma dos elementos de cada uma das listas contidas na seguinte lista:

```python
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]
```

In [ ]:
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]

# Estrutura de repetição para somar os elementos da lista
for lista in lista_de_listas:
  soma = sum(lista)
  print(soma)

<font color=#bd93f9>**2.**</font> Crie um código para gerar uma lista que armazena o terceiro elemento de cada tupla contida na seguinte lista de tuplas:

```python
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]
```

In [ ]:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]
elemento_3 = []

# Estrutura de repetição para adicionar os terceiros elementos
for item in lista_de_tuplas:
  elemento_3.append(item[2])

print(elemento_3)

<font color=#bd93f9>**3.**</font> A partir da lista: `lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']`, crie um código para gerar uma lista de tuplas em que cada tupla tenha o primeiro elemento como a posição do nome na lista original e o segundo elemento sendo o próprio nome.

In [ ]:
lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']
listadetuplas = []

# Estrutura de repetição para gerar a lista de tuplas
for i in range(0, 4):
  listadetuplas.append((i + 1, lista[i]))

listadetuplas

<font color=#bd93f9>**4.**</font> Crie uma lista usando o list comprehension que armazena somente o valor numérico de cada tupla caso o primeiro elemento seja 'Apartamento', a partir da seguinte lista de tuplas:

```python
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]
```

In [ ]:
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

# Cria a lista de valores de Apartamento
apart = [registro[1] for registro in aluguel if registro[0]== 'Apartamento']

print(apart)

<font color=#bd93f9>**5.**</font> Crie um dicionário usando o dict comprehension em que as chaves estão na lista `meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']` e os valores estão em `despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]`.

In [ ]:
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

# Criando o dicionário com as despesas
dictdespesas = {meses[i]: despesa[i] for i in range(len(meses))}

dictdespesas



---

# <font color=#ffb86c> **Aplicando a projetos**

<font color=#bd93f9>**6.**</font> Uma loja possui um banco de dados com a informação de venda de cada representante e de cada ano e precisa filtrar somente os dados do ano 2022 com venda maior do que 6000. A loja forneceu uma amostra contendo apenas as colunas com os anos e os valores de venda para que você ajude a realizar a filtragem dos dados a partir de um código:

```python
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]
```
Crie uma lista usando list comprehension para filtrar os valores de 2022 e que sejam maiores que 6000.

In [ ]:
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

# Criando a lista com as vendas de 2022 maiores que 6000
vendas_filtro = [venda[1] for venda in vendas if venda[0] == '2022' and venda[1] > 6000]
vendas_filtro

<font color=#bd93f9>**7.**</font> Uma clínica analisa dados de pacientes e armazena o valor numérico da glicose em um banco de dados e gostaria de rotular os dados da seguinte maneira:

- Glicose igual ou inferior a 70: 'Hipoglicemia'
- Glicose entre 70 a 99: 'Normal'
- Glicose entre 100 e 125: 'Alterada'
- Glicose superior a 125: 'Diabetes'

A clínica disponibilizou parte dos valores e sua tarefa é criar uma lista de tuplas usando list comprehension contendo o rótulo e o valor da glicemia em cada tupla.

```python
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]
```

In [ ]:
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]

# Cria a lista de rótulos dos valores de glicemia
rotulo = ['Hipoglicemia' if valor <= 70 else
          'Normal' if 70 < valor <= 99 else
          'Alterada' if 100 <= valor <= 125 else
          'Diabetes' for valor in glicemia]

# Cria a lista de tuplas com os rótulos e valores para glicemia
rotulo_glicemia = list(zip(rotulo, glicemia))
rotulo_glicemia

<font color=#bd93f9>**8.**</font> Um e-commerce possui as informações de id de venda, quantidade vendida e preço do produto divididos nas seguintes listas:

```python
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]
```

O e-commerce precisa estruturar esses dados em uma tabela contendo o valor total da venda, que é obtida multiplicando a quantidade pelo preço unitário. Além disso, a tabela precisa conter um cabeçalho indicando as colunas: 'id', 'quantidade', 'preco' e 'total'.

Crie uma lista de tuplas em que cada tupla tenha id, quantidade, preço e valor total, na qual a primeira tupla é o cabeçalho da tabela.

In [ ]:
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]
cabecalhos = ('id', 'quantidade', 'preco', 'total')
tabela = []

# Cria a lista de totais de vendas
qtde_preco = list(zip(quantidade, preco))
totais = [item[0] * item[1] for item in qtde_preco]

# Cria a lista de tuplas com os dados
dados = list(zip(id, quantidade, preco, totais))

# Cria a tabela final
tabela.append(cabecalhos)
tabela.append(dados)
tabela

<font color=#bd93f9>**9.**</font> Uma empresa possui filiais espalhadas nos Estados da região Sudeste do Brasil. Em uma das tabelas de cadastro das filiais há uma coluna contendo a informação de qual é o Estado a que pertence: `estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']`.

A empresa sempre está abrindo novas filiais, de modo que a tabela está constantemente recebendo novos registros e o gestor gostaria de possuir a informação atualizada da quantidade de filiais em cada Estado.

A partir da coluna com a informação dos Estados, crie um dicionário usando dict comprehension com a chave sendo o nome de um Estado e o valor sendo a contagem de vezes em que o Estado aparece na lista.



<font color=#f1fa8c> ***Dica:*** *Você pode fazer um passo intermediário para gerar uma lista de listas em que cada uma das listas possui o nome de apenas um Estado com valores repetidos.*

In [ ]:
estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']

# Cria uma lista para cada estado com o seu número de ocorrências

minas = [item for item in estados if item == 'MG']
saopaulo = [item for item in estados if item == 'SP']
riodejaneiro = [item for item in estados if item == 'RJ']
espiritosanto = [item for item in estados if item == 'ES']

# Cria as chaves e os valores
nomes = ['Minas Gerais', 'São Paulo', 'Rio de Janeiro', 'Espírito Santo']
filiais = [len(minas), len(saopaulo), len(riodejaneiro), len(espiritosanto)]

# Cria o dicionário
dictestados = {nomes[i]: filiais[i] for i in range(len(nomes))}
dictestados

<font color=#bd93f9>**10.**</font> Nessa mesma tabela de cadastro de filiais, há uma coluna com as informações da quantidade de pessoas colaboradoras e o(a) gestor(a) gostaria de ter um agrupamento da soma dessas pessoas para cada estado. As informações contidas na tabela são:

```python
funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]
```

A partir da lista de tuplas, crie um dicionário em que as chaves são os nomes dos Estados únicos e os valores são as listas com o número de colaboradores(as) referentes ao Estado. Crie também um dicionário em que as chaves são os nomes dos Estados e os valores são a soma de colaboradores(as) por Estado.

<font color=#f1fa8c> ***Dica:*** *Você pode fazer um passo intermediário para gerar uma lista de listas em que cada uma das listas possui apenas os valores numéricos de funcionários(as) de cada Estado.*

In [ ]:
funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]
nomes_estados = ['Minas Gerais', 'São Paulo', 'Rio de Janeiro', 'Espírito Santo']

# Cria a lista de listas de funcionários por estado
lista_funcionarios = [[item[1] for item in funcionarios if item[0] == 'MG'],
                      [item[1] for item in funcionarios if item[0] == 'SP'],
                      [item[1] for item in funcionarios if item[0] == 'RJ'],
                      [item[1] for item in funcionarios if item[0] == 'ES']]

# Cria o dicionário com os quadros de funcionários
dict_funcionarios = {nomes_estados[i]: lista_funcionarios[i] for i in range(len(nomes_estados))}


# Calcula a soma de funcionários
soma_funcionarios = [sum(item) for item in lista_funcionarios]

# Cria o dicionário com o total de funcionários
dict_totalfunc = {nomes_estados[i]: soma_funcionarios[i] for i in range(len(nomes_estados))}

print(dict_funcionarios)
print(dict_totalfunc)



---