#### <font color=#ededb0> Desafio referente à Aula 5. "Trabalhando com banco de dados" do curso **"Pandas I/O: trabalhando com diferentes formatos de arquivos"**, da *Alura*.

Chegou a hora de testar os conhecimentos desenvolvidos durante a aula.

Você é responsável por criar um banco de dados local de clientes para uma instituição financeira. Temos o [arquivo CSV](https://raw.githubusercontent.com/alura-cursos/Pandas/main/clientes_banco.csv) com os dados de clientes.

Sua missão é:

<font color=#94939b> **1.**</font> Criar o banco de dados local com a biblioteca **SQLAlchemy**.

In [ ]:
# Importa as bibliotecas
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, MetaData, Table, inspect

In [ ]:
# Criando o banco de dados
engine = create_engine('sqlite:///:memory:')

<font color=#94939b> **2.** </font> Escrever os dados do arquivo CSV neste banco de dados local.

In [ ]:
# Cria a variável com  a url dos dados
url = 'https://raw.githubusercontent.com/alura-cursos/Pandas/main/clientes_banco.csv'

In [ ]:
# Lê os dados da url
dados = pd.read_csv(url)
dados.head()

In [ ]:
# Insere os dados no banco de dados criado
dados.to_sql('clientes', engine, index=False)

In [ ]:
# Inspeciona o banco de dados criado
inspector = inspect(engine)
print(inspector.get_table_names())

<font color=#94939b>**3.**</font> Realizar três atualizações no banco de dados:
- Atualizar o registro do cliente de ID 6840104 que teve o rendimento anual alterado para 300000.
- Excluir o registro do cliente de ID 5008809, pois essa pessoa não possui mais conta na instituição financeira.
- Criar um novo registro de cliente seguindo as especificações abaixo:
    - `ID_Cliente`: 6850985
    - `Idade`: 33
    - `Grau_escolaridade`: Doutorado
    - `Estado_civil`: Solteiro
    - `Tamanho_familia`: 1
    - `Categoria_de_renda`: Empregado
    - `Ocupacao`: TI
    - `Anos_empregado`: 2
    - `Rendimento_anual`: 290000
    - `Tem_carro`: 0
    - `Moradia`: Casa/apartamento próprio

In [ ]:
# Importa o método text de SQLAlchemy
from sqlalchemy import text

In [ ]:
# Atualiza o registro do cliente de ID 6840104
query = 'UPDATE clientes SET Rendimento_anual= 300000 WHERE ID_Cliente=6840104'
with engine.connect() as conn:
    result = conn.execute(text(query))
    conn.commit()

In [ ]:
# Confere se a atualização foi feita
pd.read_sql_table('clientes', engine)

In [ ]:
# Exclui o registro do cliente com o ID 5008809
query_2 = 'DELETE FROM clientes WHERE ID_Cliente=5008809'
with engine.connect() as conn:
    result = conn.execute(text(query_2))
    conn.commit()

In [ ]:
# Cria um novo registro de cliente
query_3 = 'INSERT INTO clientes(ID_Cliente, Idade, Grau_escolaridade, Estado_civil, Tamanho_familia, Categoria_de_renda, Ocupacao, Anos_empregado, Rendimento_anual, Tem_carro, Moradia) VALUES(6850985, 33, "Doutorado", "Solteiro", 1, "Empregado", "TI", 2, 290000, 0, "Casa/apartamento próprio")'

---